.venv/
__pycache__/
*.pyc
*.pth
*.pt
*.onnx
data/raw/
*.egg-info/
.DS_Store
.ipynb_checkpoints/
wandb/
mlruns/
*.log
checkpoints/FINAL_MODEL.pt
checkpoints/*.pt
checkpoints/FINAL_MODEL.pt
checkpoints/*.pt
